@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!string.IsNullOrEmpty(Request.Cookies["UserId"]))
{
    <div class="text-center">
        <h1 class="display-7">Hi @Request.Cookies["Username"]!</h1>
    </div>
}
else
{   
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}