@page "/Login"
@model BirdClone.Pages.Login

@{
    Layout = null;
}

<form method="post">
    <label>Username: </label><input type="text" asp-for="LoginModel.Username"/>
    <label>Password: </label><input type="text" asp-for="LoginModel.Password"/>
    <button type="submit">Submit</button>
</form>