@page "/Register"
@using Microsoft.AspNetCore.Components

@code {

    private Register.RegisterModel _registerModel = new();
}

<EditForm model="@_registerModel" OnSubmit="@{ Register.HandleSubmit(_registerModel);}">
    <label>Username: </label><InputText @bind-Value="_registerModel.Username"/>
    <label>Password: </label><InputText @bind-Value="_registerModel.Password"/>
    <button type="submit">Submit</button>
</EditForm>

